html, body, #karyon {
    height: 100%;
}
#karyon {
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo {
    width: 50%;
    aspect-ratio: 1800/400;
    background: url(//karyon.dev/img/logo.svg) center/contain no-repeat;
    filter: grayscale(1);
}
#version {
    position: fixed;
    right: 1em;
    bottom: 1em;
    font-size: 12px;
    font-family: monospace;
    text-align: right;
    text-transform: lowercase;
}
